<h1>New dose for <%= @cocktail.name %></h1>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.association :ingredient, collection: Ingredient.all, class: "form-control"%>
  <%= f.input :description, class: "form-control" %>
  <%= f.submit "Create dose" %>
<% end %>
